
body {
  background-color: #faf7f7;
  color: #111;
  padding-bottom: 2%;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  max-width: 300px; 
  align-items: center;
  justify-content: center;
  text-align: center;
}


.card h3 {
  font-size: max(15px, 1.5vw);
  margin-bottom: 10px;
  padding-bottom: 7%;
}



.card p {
  font-size:  max(12px, 1vw);
}


.btn {
  background-color: white;
  border: 1px solid rgb(73, 120, 156);
  
  border-radius: 5px;
  color: rgb(73, 120, 156);
  cursor: pointer;
  font-size:  max(15px, 1.2 vw);
  margin-top: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  /* min-width: 250px; */
  width: max(120px, 17vw);
  
}

.btn:hover {
  background-color: #088393;
  color: #f4f4f4;
}


/* @media screen and (max-width: 600px) {
  .card {
    width: calc(50% - 20px); 
    max-width: none; 
  }


}
 */

/* @media screen and (max-width: 305px) {
  .card {
    width: 100%; 
    max-width: none; 
  }
 
} */